<section id="contact">
    <div class="contact-img"></div>
    <div class="contact-text bg-dark ">
        <h2 class="pl-4 pt-2 m-heading text-white">
            <span>Liên lạc với chúng tôi</span>
        </h2>
        <form class="pl-4 pr-4 pb-4">
            <div class="form-group text-white">
                <label for="formGroupExampleInput">Tên Công Ty :</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" ">
            </div>
            <div class="form-group text-white">
              <label for="exampleInputEmail1">Email address :</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" ">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group text-white">
                <label for="formGroupExampleInput">Số Điện Thoại :</label>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder=" ">
            </div>
            <div class="form-group text-white">
              <label for="exampleTextarea">Lời nhắn :</label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <fieldset class="form-group text-white">
              <legend>Vấn đề</legend>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Thắc mắc về việc thành lập
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                  Thắc mắc về thừa kế
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Ứng dụng tư vấn bằng cách phỏng vấn (yêu cầu đặt trước 50 phút)
                  </label>
                </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        Ứng dụng hội thảo
                      </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                            Các yêu cầu khác
                        </label>
                    </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Gửi</button>
          </form>
    </div>
</section>