<h2>Admin index</h2>
<ul class="list-group">
    <li class="list-group-item"><a href="admin/news">Tin tức</a></li>
    <li class="list-group-item"><a href="#">Thông tin công ty</a></li>
    <li class="list-group-item"><a href="#">Hỗ trợ khách hàng</a></li>
    <li class="list-group-item"><a href="#">Hòm thư</a></li>
    <li class="list-group-item"><a href="#">QnA</a></li>
  </ul>