<footer>
    <div class="container-fluid bg-dark text-white">
        <div class="container">
            <div class="row ">
                <div class="col-md-4">
                    <div class="h2 mt-2">
                        Furoide.
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="h2 mt-2"><%= __('ContactInformation')  %></div>
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <div class="h4">Funabashi Bureau</div>
                            <p><i class="fas fa-map-marker-alt" style="width: 20px;"></i>6-33-20 Takanedai, Funabashi-shi Chiba 274-0065</p>
                            <p><i class="fas fa-phone" style="width: 20px;"></i>0120-95-8985 (Representative: 047-461-9902)</p>
                            <p><i class="fas fa-fax" style="width: 20px;"></i>047-461-9919</p>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="h4">
                                Sou no Mori Bureau
                            </div>
                            <p><i class="fas fa-map-marker-alt" style="width: 20px;"></i>1-3-11 Sonomori, Narashino, Chiba</p>
                            <p><i class="fas fa-phone" style="width: 20px;"></i>047-407-4030</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>