<section class="pt-5" id= "service">
        <div class="container">
            <div class="card border-secondary mb-3">
                <div class="card-header">Trưởng phòng hỗ trợ doanh nghiệp mới: Sato</div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col-md-2 ">
                            <img class="img-fluid img-card " src="images/user.png">
                        </div>
                        <div class="col-md-10 ">
                            <p class="card-text">
                                <ul>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ xây dựng mô hình kinh doanh
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Xây dựng kế hoạch kinh doanh và ngân sách
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ giới thiệu hệ thống quản lý tối đa hóa lợi nhuận
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ ứng dụng trợ cấp
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ ứng dụng cho vay, vv
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header">Trưởng phòng Hỗ trợ Quản lý Kinh doanh Y tế: Haneda</div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col-md-2 ">
                            <img class="img-fluid img-card " src="images/user.png">
                        </div>
                        <div class="col-md-10">
                            <p class="card-text">
                                <ul>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ mở mới
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ tập đoàn y tế
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Chẩn đoán quyết toán kế toán y tế
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ lập kế hoạch kinh doanh kế hoạch, vv
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header">Tổng công ty phúc lợi xã hội Trưởng phòng hỗ trợ: Sato</div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col-md-2 ">
                            <img class="img-fluid img-card " src="images/user.png">
                        </div>
                        <div class="col-md-10">
                            <p class="card-text">
                                <ul>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ chuyển đổi kế toán mới
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ tự đếm công việc kế toán
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ kế toán hiệu quả
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ xây dựng tổ chức doanh nghiệp
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header">Trưởng phòng hỗ trợ quản lý nhà hàng: Oishi</div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col-md-2 ">
                            <img class="img-fluid img-card " src="images/user.png">
                        </div>
                        <div class="col-md-10">
                            <p class="card-text">
                                <ul>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ tăng doanh số và thu hút khách hàng
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ xây dựng hệ thống giải quyết ngày giờ
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Lưu trữ chẩn đoán / chẩn đoán thực đơn
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Hỗ trợ cho vay cho các nhà hàng, vv
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header">Trưởng phòng hỗ trợ kế thừa: Haneda</div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col-md-2 ">
                            <img class="img-fluid img-card " src="images/user.png">
                        </div>
                        <div class="col-md-10">
                            <p class="card-text">
                                <ul>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Ước tính đơn giản thuế thừa kế
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Xây dựng kế hoạch sử dụng hiệu quả cho đất nhàn rỗi
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Các biện pháp giảm thuế tài sản
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Xây dựng kế hoạch quà tặng để giảm thuế thừa kế
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-3">
                <div class="card-header">Trưởng phòng hỗ trợ kế hoạch cuộc sống: Hirakawa</div>
                <div class="card-body text-secondary">
                    <div class="row">
                        <div class="col-md-2 ">
                            <img class="img-fluid img-card " src="images/user.png">
                        </div>
                        <div class="col-md-10">
                            <p class="card-text">
                                <ul>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Xây dựng kế hoạch kế hoạch cuộc sống
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Tư vấn tái cấp vốn khoản vay mua nhà
                                    </li>
                                    <li>
                                        <i class="fas fa-angle-double-right pr-2"></i>Tư vấn tối ưu hóa phí bảo hiểm
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>