<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a href="/admin"><i class="fa fa-home"></i> Home <span></span></a>
          </li> 
          <li><a><i class="fa fa-newspaper-o"></i> News <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/admin/news">Quản lý</a></li>
            </ul>
          </li> 
          <li><a><i class="fa fa-paper-plane"></i> Service <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/admin/service">Quản lý</a></li>
            </ul>
          </li> 
          <li><a><i class="fa fa-area-chart"></i> Information <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/admin/information">Quản lý</a></li>
            </ul>
          </li>    
          <li><a><i class="fa fa-envelope"></i> EmailBox <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/admin/mailbox">Quản lý</a></li>
            </ul>
          </li>                       
        </ul>
      </div>
</div>