<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>News Management</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Tên bài viết </th>
                                        <th class="column-title">Thời gian </th>
                                        <th class="column-title">Người đăng </th>
                                        <th class="column-title no-link last text-center" colspan="3"><span
                                                class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span
                                                    class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% for(var i=0;i<=6;i++) {%> 
                                        <tr class="even pointer">

                                            <td class=" "><%= data[i].vi_title %> </td>
                                            <td class=" "><%= data[i].date %> </td>
                                            <td class=" "><%= data[i].author %></td>
    
                                            <td class="text-center"><a href="#"
                                                    class="btn btn-round btn-success btn-sm">View</a></td>
                                            <td class="text-center"><a href="#"
                                                    class="btn btn-round btn-primary btn-sm">Edit</a></td>
                                            <td class="text-center"><a href="#"
                                                    class="btn btn-round btn-danger btn-sm">Delete</a></td>
                                        </tr>
                                    <% } %> 
                                </tbody>
                            </table>
                            <nav class="mt-3" aria-label="Page navigation">
                                <ul class="pagination pagination-md justify-content-center">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>